/.* export-ignore
/tests/ export-ignore
/composer.json export-ignore
/Doxyfile export-ignore
/phpunit.xml.dist export-ignore
/Makefile export-ignore
/benchmark export-ignore
/bin/ export-ignore
/lib/ export-ignore
/build/ export-ignore
/examples/ export-ignore
/package.json export-ignore
/package-lock.json export-ignore

# Auto detect text files and perform LF normalization
* text=auto

*.js text eol=lf
*.peg* text eol=lf
*.php text eol=lf
